body {
    margin: 0;
    padding: 0;
  }
  
  .bio-section {
    background-color: #fefae0;
    padding: 20px;
  }

  .bio-text {
    flex-direction: column;
  }
  
  .bio-content {
    display: flex;
    align-items: center;
  }

  .bio-content h1 {
    margin: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #1e1e1e;
    font-size: 2vw;
  }
  
  .bio-content img {
    width: 15vw; /* adjust the size as needed */
    border-radius: 50%; /* make the image round */
    margin-right: 4vw;
    padding: 4vw;
  }
  
  .bio-content p {
    margin: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 1vw;
  }
  