#large-blob {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 187px;
    transition: all 2s;
    filter: blur(5vw);
    background: radial-gradient(50% 50% at 50% 50%, rgb(170, 68, 101) 33%, rgb(255, 166, 158) 100%);
}

#small-blob {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 187px;
    transition: all 2s;
    filter: blur(3vw);
    background: radial-gradient(50% 50% at 50% 50%, rgb(212, 159, 163) 50.5%, rgb(213, 117, 130) 100%);
}