.desktop {
  background-color: #fefae0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div-wrapper {
  background-color: #fefae0;
  width: 100%;
  height: 100vh;
  /* Set height to fill the screen */
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  top: 30vw;
  left: 15vw;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 6vw;
  /* Use vw unit for font size */
  letter-spacing: 0;
  line-height: normal;
}

.desktop .view-wrapper {
  position: relative;
  background-color: #fefae0;
  height: 4vw;
  width: 100%;
}

.desktop a {
  position: absolute;
  left: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  text-decoration: none;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1vw;
  /* Use vw unit for font size */
  letter-spacing: 0;
  line-height: normal;
}

/* animated underline of the link on hover */
.desktop a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.desktop a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.desktop .connect-wrapper {
  position: relative;
  background-color: #fefae0;
  height: 20vh;
  width: 100%;
}

.desktop .connect {
  left: 2vw;
  position: absolute;
  text-align: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.5vw;
  /* Use vw unit for font size */
  letter-spacing: 0;
  line-height: normal;
}